/*
    CONTENTS OF STYLES
        - APP
        - HEADER

*/

body, h1 {
    margin: 0;
    padding: 0;
}
html {
    padding: 0px;
}

/* APP STYLES
**********************************************************************************/
.app-container {
    margin: 0px;
    padding: 0px;
    
    display: flex;
    flex-direction: column;
}
.header-container {
    margin: auto;
    width: 100%;

    padding: 10px;
    box-sizing: border-box;
    border: 2px solid lightblue;
    margin-bottom: 25px;
}

/* HEADER STYLES
**********************************************************************************/
.header-title-container{
    background-color: #2f292e;
    color: white;
    padding: 5px;
    display: flex;
}
.header-title-container > h1 {
    margin: 0px auto;
}

/* CLICKBOARD STYLES
**********************************************************************************/



/* TIMER STYLES
**********************************************************************************/
.time-container {
    margin: auto;
    width: 100%;

    padding: 10px;
    box-sizing: border-box;
    border: 2px solid lightblue;
}
.component-timer-container {
    border: 1px solid black;
    width: 50%;
    margin: 0px auto;
    border-radius: 3px;
    overflow: hidden;
}
.controller-btn-container {
    display: flex;
    flex-direction: row;
    padding: 5px;
}
.ctc-title{
    width: 100%;
    background-color: #2f292e;
    color: white;
    padding: 5px;
}